@import './variables';
@import './mixins';

.secondary {
  @include button-base($white, $primary-color, $primary-color);
}

.primary {
  @include button-base($primary-color, $white, $primary-color);
}

.back {
  margin-top: $spacing-xs;
  font-weight: 500;
}

.link {
  background-color: $transparent;
  color: $blue;
  border: none;
  font-size: small;
  cursor: pointer;
  
  &:hover {
    text-decoration: underline;
  }
}
