.header-title {
  font-size: 11pt;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  font-weight: 700 !important;
  color: #0f5258;
  border-left: 6px solid #06a796;
  padding-left: 8px;
}
.close {
  cursor: pointer;
}

.subtitle {
  font-size: 11pt;
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: 700 !important;
  color: #004d40;
  padding-left: 10px;
}

.subtitle-admin {
  font-size: 10pt;
  font-weight: 700 !important;
  color: #004d40;
  padding-left: 10px;
}
.subheader-title {
  color: #06a796;
  font-size: 8pt;
}

/* .header{
    background-color: white; 
     font-size: 10pt;
     margin-top: 2%;
     margin-bottom: 2%;
     font-weight: 700!important;
     color: #0F5258;
     height: 70px;
     margin-bottom: 0px;
     margin-top: 0px;
     text-align: left;
     padding-top: 1%;
     padding-left: 0%;
     font-size: large;
     border-bottom: 2px solid lightgray;
} */

.footer {
  /* background-color: #446e57;  */
  background-color: #0f5258;
  font-size: 10pt;
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: 700 !important;
  color: white;
  height: 50px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: right;
  padding-top: 1%;
  padding-right: 2%;
  position: relative;
  z-index:20;
}

.container_chapters {
  margin-top: 5px;
  margin-bottom: 5px;
}
.resume {
  color: #0f5258;
  font-size: 9pt;
  margin-top: 0.5%;
  .text {
    color: gray !important;
    font-weight: 600;
  }
}

.label {
  font-size: 10pt;
  font-weight: 500;
}

.label-detail {
  font-size: 10pt;
}

.user {
  /* position: absolute;   */
  right: 0px;
  top: 0px;

  background-color: #06a796;
  /* height: 60px; */
  height: 100%;
  padding-top: 6%;
  color: white;
  font-size: 10.5pt;
  font-weight: 500;
  /* border-bottom: 2px solid lightgray; */
  /* max-width: 40%; */
}

.header-icon {
  font-size: 12pt;
  /* padding-left: 8px; */
  padding-top: 6px;
}

.container-header-icon {
  width: 30px;
  height: 30px;
  background-color: #004d40;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.close-header-icon {
  font-size: 12pt;
  /* padding-left: 7px; */
  padding-top: 6px;
}

.container-close-header-icon {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  margin-left: 20px;
  /* margin-left: 50px; */
  border: white 1px solid;
}

.container-items-select {
  width: 30% !important;
}

.container-select {
  padding-top: 2px;
  padding-bottom: 2px;
}

.subcontainer-admin-options {
  padding-top: 1.5px!important;
  padding-bottom: 1.5px!important;
}

.printOnly {
  display: none;
}

.logo {
  margin-left: -50px;
  margin-top: 5px;
}
